.dark{
    color: black;
    opacity: 0.7;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
.btn-primary{
   
    padding: 18px 35px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    background: orange;
    border: none;
}
.section-bg{
    background-color: rgb(245, 233, 209);
    opacity: 0.8;
}
.section-title{
    font-size: 46px;
    font-weight: bold;
    opacity: 0.8;
}
.section-descript{
    font-size: 18px;
    opacity: 0.8;

}
nav ul{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0px 100px;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    
}
.text-primary{
    color: orange;
}
nav  ul li{
   list-style: none;
   margin-right: 50px;
}
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
   background-position: top left ,bottom right;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.banner{
   display: flex;
   justify-content: space-between;
   margin: 0px 35px 0px 200px;
}
.banner-greet{
  font-size: 45px;
  font-family: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-content{
    width: 580px;
}
.tr{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.text-center{
    text-align: center;
}
.banner-prf-pic{
    width: 580px;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.item-descript{
    font-weight: 600;
}
.about-items{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
.skills-container{
    display: flex;
    gap: 40px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(244, 175, 175);
}
.resume-container{
    display: flex;
    gap: 35px;
}
.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description , .experience-subtitle{
    color:rgba(117, 117, 117, 1)
}
.resume hr{
    margin: 20px auto;
}
footer{
    gap: 300px;
    padding: 130px 230px;
    display: flex;
}
.footer-column{
    width: 50%;
}
footer input[type="text"],footer input[type="email"],footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}